<!DOCTYPE html>
<html lang = “ja”>
<head>
    <style type="text/css">
    table.type09 {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;

}
table.type09 thead th {
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	color: #369;
	border-bottom: 3px solid #036;
}
table.type09 tbody th {
	width: 150px;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	background: #f3f6f7;
}
table.type09 td {
	width: 350px;
	padding: 10px;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
}
    </style>
<meta charset = “UFT-8”>
<title>reflection</title>
</head>
<body>
<h1>Let's Reflection</h1>

<!-- タスク入力フォーム -->
<form action="/task/index" method="post">
    <input name="task" style="width:300px;height:50px"/>
    <input type="hidden" name="nowTaskDataId" value='<?php echo $nowTask['taskDataId'] ?>' />
    <button type="submit">更新</button>
</form>

<h3>取組中タスク</h3>
<table class="type09">
    <thead>
<tr>
    <th>taskID</th>
    <th>タスク</th>
    <th>開始時刻</th>
</tr>
</thead>
<?php
echo sprintf("<tr><td>%s</td><td>%s</td><td>%s</td></tr>", $nowTask['taskDataId'], $nowTask['task'], $nowTask['startTime']);
?>
</table>

<h3>終了タスク</h3>
<table class="type09">
<thead>
    <tr>
    <th>taskID</th>
    <th>タスク</th>
    <th>開始時刻</th>
    <th>終了時刻</th>
    <th>かかった時間（分）</th>
</tr>
</thead>
<?php
foreach ($taskDataList as $task) {
    echo sprintf("<tr><td>%s</td><td>%s</td><td>%s</td><td>%s</td><td>%s</td></tr>", $task['taskDataId'], $task['task'], $task['startTime'], $task['endTime'], $task['diffTime']);
}
?>
</table>
</body>
</html>
